<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bsoft.mob.ienr">

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- 可选 -->
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" /> <!-- 获取logcat日志 -->


    <!-- 网络有关 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- SD CARD 读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <!-- 读取联系人 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <!-- mqtt  wake lock -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 系统弹窗权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 快捷方式有关 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />

    <!-- 设置时区 高版本不能使用 -->
    <!--<uses-permission android:name="android.permission.SET_TIME" />-->
    <!--<uses-permission android:name="android.permission.SET_TIME_ZONE" />-->

    <!-- NFC读取 -->
    <!-- uses-permission android:name="android.permission.NFC" / -->


    <!-- 霍尼韦尔扫描枪广播权限 -->
    <!-- uses-permission android:name="com.honeywell.decode.permission.DECODE" / -->


    <!-- 蓝牙扫描枪 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <!-- 摄像头权限，二维码扫描 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="${app_label}"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/ClassicTheme"
        tools:replace="android:label">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <!-- 可选 -->
        <activity android:name="com.pgyersdk.activity.FeedbackActivity" />

        <!-- 必选 -->
        <meta-data
            android:name="PGYER_APPID"
            android:value="9339eb9132bfbbf7fde7e0a47301bd75" />

        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".activity.user.UserModelActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.user.TransfusionListActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.user.AdviceListActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.user.LifeSymptomInquiryActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MessageActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/ClassicDialogTheme" />
        <activity
            android:name=".activity.user.execut.KFExecutActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.user.execut.SYExecutActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.user.OutControllerHistoryActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.user.NursePlanActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!-- 护理焦点 -->
        <activity
            android:name=".activity.user.NurseFocusActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.user.RiskEvaluateActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.user.RiskEvaluateListActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.user.RiskComprehensiveActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- android:theme="@style/MsgDialogStyle"/> -->
        <activity
            android:name=".activity.user.RiskMeasureListActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.user.RiskMeasureActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.user.NursePlanEvaluateActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ClassicDialogTheme" />
        <activity
            android:name=".activity.user.NursePlanMeasureActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ClassicDialogTheme" />
        <activity
            android:name=".activity.AdviceCheckDetailActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ClassicDialogTheme" />
        <activity
            android:name=".activity.DailyWorkDetailActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ClassicDialogTheme" />
        <!-- wifi 热点页 -->
        <activity
            android:name=".activity.WifiScanActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!-- 健康教育页 -->
        <activity
            android:name=".activity.user.HealthGuidActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!-- 健康教育自定义项目页 -->
        <activity
            android:name=".activity.user.HealthGuidCustomActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ClassicDialogThemeAty2Dialog" />
        <!-- 健康教育独立评价页 -->
        <activity
            android:name=".activity.user.HealthGuidEvaluateActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ClassicDialogTheme" />
        <!-- 宣教查询页 -->
        <activity
            android:name=".activity.user.AnnounceHistoryActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <!-- 护理评估填写页 -->
        <activity
            android:name=".activity.user.NurseEvaluateActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.user.NursingEvaluateActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShowChartActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <!-- 护理评估页 -->
        <activity
            android:name=".activity.user.EvaluateInquiryActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.user.LifeSymptomActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!-- 护理记录填写页 -->
        <activity
            android:name=".activity.user.CareRecordActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!-- 护理记录查看 页 -->
        <activity
            android:name=".activity.user.CareRecordHistoryActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <!-- 护理记录助手页 -->
        <activity
            android:name=".activity.user.CareRecordHelpActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!-- 血糖记录助手页 -->
        <activity
            android:name=".activity.user.BloodGlucoseHistoryActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <!-- 引用页 -->
        <activity
            android:name=".activity.user.CareRecordReferActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <!-- 签名页 -->
        <activity
            android:name=".activity.SignActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ClassicDialogTheme" />
        <activity
            android:name=".activity.SignNewActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ClassicDialogTheme" />
        <!-- 输血核对页 -->
        <activity
            android:name=".activity.user.BloodCheckActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ClassicDialogTheme" />

        <!-- 血液交接查询 -->
        <activity
            android:name=".activity.BloodHistoryActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <!-- 评估表单列表页 -->
        <activity
            android:name=".activity.user.NurseEvaluateFormListActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.user.NursingEvaluateFormListActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!-- 登录切换页 -->
        <activity
            android:name=".activity.LoginTipActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/ClassicDialogTheme" />
        <!-- 蓝牙扫描枪选择 -->
        <activity
            android:name=".activity.BluetoothChooseActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <!-- NFC桥接 -->
        <activity
            android:name=".activity.NFCBridgeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/ClassicDialogTheme">
            <intent-filter android:priority="2147483647">
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />

            <intent-filter android:priority="2147483647">
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MipcaCaptureActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!-- 交接单编辑页 -->
        <activity
            android:name=".activity.user.HandOverActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BatchHandOverActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <service android:name=".barcode.AnalyseCodeService" />
        <service android:name=".components.wifi.WifiService" />
        <!-- 退出登录service -->
        <service android:name=".service.LogoutService" />
        <!-- 更新用户设置service -->
        <service android:name=".service.SettingService" />
        <!-- 更新APPservice -->
        <service android:name=".components.update.UpdateService" />
        <!-- 悬浮窗service -->
        <service android:name=".service.FloatingWindowService" />

        <!--
       对应 Database.AUTHORITY
          <provider
               android:name=".db.DBContentProvider"
               android:authorities="com.bsoft.mob.ienr.DBContentProvider" />-->
        <provider
            android:name=".db.DBContentProvider"
            android:authorities="${applicationId}.DBContentProvider" />

        <!-- mqtt fragment_about -->
        <service
            android:name=".components.mqtt.MQTTService"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="com.bsoft.mob.mqtt.MQTTService" />
            </intent-filter>
        </service>

        <!-- ZBK蓝牙扫描枪 -->
        <service
            android:name="com.smartshell.bluetooth.BluetoothService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.smartshell.bluetooth.service" />
            </intent-filter>
        </service>

        <activity
            android:name=".components.mqtt.TopicsActivity"
            android:launchMode="singleInstance"
            android:theme="@style/ClassicDialogTheme" />

        <receiver android:name=".components.mqtt.PushMsgReceiver">
            <intent-filter>
                <action android:name="com.bsoft.android.mqtt.MSGRECVD" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.user.TraditionalNursingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.user.TraditionalNursingQueryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activity.AdvisoryDetailsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".photo.photopicker.PhotoPagerActivity"
            android:theme="@style/ClassicDialogTheme"
            />
        <activity
            android:name=".photo.photopicker.PhotoPickerActivity"
            android:theme="@style/ClassicDialogTheme"

             />
        <activity android:name=".the_recording.PicturePreviewActivity"></activity>
    </application>

</manifest>